body {
  margin: 40px auto;
  max-width: 650px;
  background-color: #ececcf;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height: 1.2
}

a {
  color: #048ABF;
  text-decoration: underline;
}

.dark-mode {
  background-color: #444;
  color: white;
}