
/* @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'; */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  /* margin: 0; */
  padding: 0;
  border: 0;
  font-weight:normal;
  font-style:normal;
  font-size: 100%;
  line-height:1;
  /* font-family:inherit; */
  /*
  Web safe fonts: https://www.cssfontstack.com/
  Thin about readility and fallbacks.
  */
  font-family: monospace;
  /* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, li {
  list-style: circle;
  padding-left: 5px;
  margin: 3px 0;
  overflow: hidden;
}

blockquote {
  border-left: 2px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

}

.tab {
  margin-bottom: 35px;
}

/* customized by tedor*/
body {
  /* margin: 0 auto; */
  max-width: 35em;
  padding: 0.5em 0.5em;
  color: #566b78;
  line-height: 1.3;
  font-size: 110%
}

h1 {
  font-size: 180%;
  margin-top: 0.5em;
  color: #333;
}

h2 {
    font-size: 130%;
    color: #333;
}

h3 {
    font-size: 120%;
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: #333;
}

a {
  color: #048ABF;
  text-decoration: none;
}

strong {
    font-weight: bold;
}

em {
  font-style: italic;
}

/* https://color.adobe.com/Ocean-Sunset-color-theme-10006414/edit/?copy=true&base=0&rule=Custom&selected=1&name=Copy%20of%20Ocean%20Sunset&mode=rgb&rgbvalues=0.25098,0.34902,0.321569,0.611765,0.607843,0.478431,1,0.827451,0.576471,1,0.592157,0.309804,0.960784,0.309804,0.160784&swatchOrder=0,1,2,3,4 */

.date {
color: #888888;
padding: 0.5em 10px;
}

.tags {
color: #6E6E60;
}

.short {
line-height:1.3;
}


/* responsive /assets/img/ */
img {
    width: 100%;
    height: auto;
}

img.noresize {
  width: auto;
}


/* iframe */
.myIframe {
     position: relative;
     padding-bottom: 65.25%;
     padding-top: 30px;
     height: 0;
     overflow: auto;
     -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY
     border: solid black 1px;
}
.myIframe iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

/* collapsible radio list
https://stackoverflow.com/questions/56241046/checking-one-checkbox-closes-all-other-checkboxes-in-html-css/56243376#56243376
*/

.node {
  display: none;
}

label {
  cursor: pointer
}


.node+label+ul li {
  visibility: collapse;
  max-height: 0;
  transition: 0.2s; //amended by khofstadter
  list-style: none; //added by khofstadter
  padding-left: 0;
  margin-left: 0;
}


.node:checked+label+ul li {
  visibility: visible;
  max-height: 500px;
  transition: 0.4s;
  list-style: none; //added by khofstadter
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 35px;
}
